# Read in dataset from data.world

In [92]:
import pandas as pd
import numpy as np

Example 1

In this example, ZCTA 85609 is highlighted in yellow below and falls wholly within county 04003, which is outlined in black.  Therefore, there is only one corresponding record in the relationship file.  The 2010 population for this relationship record is 392 (POPPT) and is equal to the 2010 Censuspopulation of 392 for ZCTA 85609 (ZPOP).  Likewise, the 2010 Census housing unit count for both the relationship record (HUPT) and the ZCTA (ZHU) is 271.  Therefore, the percentage of the total population of ZCTA 85609 represented by the relationship record (ZPOPPCT) is 100.  Although ZCTA 85609 falls entirely within County 04003, County 04003 contains many different ZCTAs.  The 2010 Census population living in County 04003 is 131,346 (COPOP) but the percentage of the total population of County 04003 that lives within ZCTA 85609 and is represented by the relationship record (COPOPPCT) is 0.3

Example 2

In this example, ZCTA 85602 is highlighted below in yellow and falls in two counties:  04003 and 04019, which are outlined in black.  Therefore, there are two corresponding records in the relationship file.  The first record describes the relationship between ZCTA 85602 and County 04003.  The 2010 Census population living within ZCTA 85602 is 9,464 (ZPOP) but only 8,533 (POPPT) also live within County 04003.  This represents 90.16% of the total population (ZPOPPCT) for ZCTA 85602.  Furthermore, out of the total population living within County 04003, 6.5% (COPOPPCT) live within ZCTA 85602.  The second record describes the relationship between ZCTA 85602 and county 04019.  The 2010 Census population living with ZCTA 85602 and in county 04019 is 931 (POPPT) and represents 9.84% of the total population (ZPOPPCT) for ZCTA 85602.  Furthermore, 0.09% of the total population within county 04019 also lives in ZCTA 85602 (COPOPPCT).


POPPT - population of zip in specific county
ZPOP - zip code population
ZHU - zip housing unit count 
HUPT - housing unit count of zip in specific county
ZOPOPPCT - percent of total zip pop for portion of zip in that county 
COPOP - population in that county
COPOPPCT - percept of total county pop wihtin that zip code
ZAREA - area of zipcode
ZAREALAND - land area of zipcode
COHU - county housing units
COAREA - area of county
COAREALAND - land area of county

In [126]:
df = pd.read_csv('https://query.data.world/s/d4svu353zh227c66s7tix7gav44gkz')

In [127]:
df.head()

,ZCTA5,STATE,COUNTY,GEOID,POPPT,HUPT,AREAPT,AREALANDPT,ZPOP,ZHU,...,COAREA,COAREALAND,ZPOPPCT,ZHUPCT,ZAREAPCT,ZAREALANDPCT,COPOPPCT,COHUPCT,COAREAPCT,COAREALANDPCT
0,601,72,1,72001,18465,7695,165132671,164333375,18570,7744,...,173777444,172725651,99.43,99.37,98.61,98.60,94.77,94.71,95.03,95.14
1,601,72,141,72141,105,49,2326414,2326414,18570,7744,...,298027589,294039825,0.57,0.63,1.39,1.40,0.32,0.35,0.78,0.79
2,602,72,3,72003,41520,18073,83734431,79288158,41520,18073,...,117948080,79904246,100.00,100.00,100.00,100.00,98.95,98.99,70.99,99.23
3,603,72,5,72005,54689,25653,82063867,81880442,54689,25653,...,195741178,94608641,100.00,100.00,100.00,100.00,89.73,90.23,41.92,86.55
4,606,72,93,72093,6276,2740,94864349,94851862,6615,2877,...,94864349,94851862,94.88,95.24,86.56,86.56,100.00,100.00,100.00,100.00

In [95]:
df.columns

Index(['ZCTA5', 'STATE', 'COUNTY', 'GEOID', 'POPPT', 'HUPT', 'AREAPT',
       'AREALANDPT', 'ZPOP', 'ZHU', 'ZAREA', 'ZAREALAND', 'COPOP', 'COHU',
       'COAREA', 'COAREALAND', 'ZPOPPCT', 'ZHUPCT', 'ZAREAPCT', 'ZAREALANDPCT',
       'COPOPPCT', 'COHUPCT', 'COAREAPCT', 'COAREALANDPCT'],
      dtype='object')

In [128]:
df.rename(columns={'ZCTA5':'Zipcode'}, inplace=True)

In [106]:
df.set_index("Zipcode").head()

,STATE,COUNTY,GEOID,POPPT,HUPT,AREAPT,AREALANDPT,ZPOP,ZHU,ZAREA,...,COAREA,COAREALAND,ZPOPPCT,ZHUPCT,ZAREAPCT,ZAREALANDPCT,COPOPPCT,COHUPCT,COAREAPCT,COAREALANDPCT
Zipcode,,,,,,,,,,,,,,,,,,,,,
601,72,1,72001,18465,7695,165132671,164333375,18570,7744,167459085,...,173777444,172725651,99.43,99.37,98.61,98.60,94.77,94.71,95.03,95.14
601,72,141,72141,105,49,2326414,2326414,18570,7744,167459085,...,298027589,294039825,0.57,0.63,1.39,1.40,0.32,0.35,0.78,0.79
602,72,3,72003,41520,18073,83734431,79288158,41520,18073,83734431,...,117948080,79904246,100.00,100.00,100.00,100.00,98.95,98.99,70.99,99.23
603,72,5,72005,54689,25653,82063867,81880442,54689,25653,82063867,...,195741178,94608641,100.00,100.00,100.00,100.00,89.73,90.23,41.92,86.55
606,72,93,72093,6276,2740,94864349,94851862,6615,2877,109592548,...,94864349,94851862,94.88,95.24,86.56,86.56,100.00,100.00,100.00,100.00

In [107]:
# copy_df = df.copy()
# copy_df.head()

In [108]:
# copy_df.rename(columns={'ZCTA5':'Zipcode'}, inplace=True)
# copy_df.head()

In [99]:
# grouped = df.groupby('Zipcode').count()
# grouped.head()

In [100]:
#copy_df.set_index("Zipcode",inplace=True)

In [109]:
# copy_df.head()

In [110]:
# all_data = copy_df.loc[601]
# all_data

In [111]:
# data = copy_df.loc[601,['STATE','COUNTY']]
# data

In [112]:
# #count rows
# row_count = data.count()
# #return individual number
# number = row_count['STATE']
# #coerce to int from numpy int64
# int_num = int(number)
# type(int_num)

In [113]:
# data_dict = dict(data)
# data_dict

In [115]:
empty_list = []

In [129]:
df.set_index("Zipcode",inplace=True)

In [134]:
df.head()

,STATE,COUNTY,GEOID,POPPT,HUPT,AREAPT,AREALANDPT,ZPOP,ZHU,ZAREA,...,COAREA,COAREALAND,ZPOPPCT,ZHUPCT,ZAREAPCT,ZAREALANDPCT,COPOPPCT,COHUPCT,COAREAPCT,COAREALANDPCT
Zipcode,,,,,,,,,,,,,,,,,,,,,
601,72,1,72001,18465,7695,165132671,164333375,18570,7744,167459085,...,173777444,172725651,99.43,99.37,98.61,98.60,94.77,94.71,95.03,95.14
601,72,141,72141,105,49,2326414,2326414,18570,7744,167459085,...,298027589,294039825,0.57,0.63,1.39,1.40,0.32,0.35,0.78,0.79
602,72,3,72003,41520,18073,83734431,79288158,41520,18073,83734431,...,117948080,79904246,100.00,100.00,100.00,100.00,98.95,98.99,70.99,99.23
603,72,5,72005,54689,25653,82063867,81880442,54689,25653,82063867,...,195741178,94608641,100.00,100.00,100.00,100.00,89.73,90.23,41.92,86.55
606,72,93,72093,6276,2740,94864349,94851862,6615,2877,109592548,...,94864349,94851862,94.88,95.24,86.56,86.56,100.00,100.00,100.00,100.00

In [ ]:
#iterows and itertuples
for row_index,row in df.iterrows():
    print(row_index,row)
    empty_list.append(dict(row))

In [140]:
def getZipCounty(zipcode,the_df):
    dict_list = []
    zip_data = the_df.loc[zipcode]
    
    for row_index,row in zip_data.iterrows():
        #print(row_index,row)
        dict_list.append(dict(row))
    
    return dict_list

In [141]:
result = getZipCounty(601,df)

In [142]:
result

[{'STATE': 72.0,
  'COUNTY': 1.0,
  'GEOID': 72001.0,
  'POPPT': 18465.0,
  'HUPT': 7695.0,
  'AREAPT': 165132671.0,
  'AREALANDPT': 164333375.0,
  'ZPOP': 18570.0,
  'ZHU': 7744.0,
  'ZAREA': 167459085.0,
  'ZAREALAND': 166659789.0,
  'COPOP': 19483.0,
  'COHU': 8125.0,
  'COAREA': 173777444.0,
  'COAREALAND': 172725651.0,
  'ZPOPPCT': 99.43,
  'ZHUPCT': 99.37,
  'ZAREAPCT': 98.61,
  'ZAREALANDPCT': 98.6,
  'COPOPPCT': 94.77,
  'COHUPCT': 94.71,
  'COAREAPCT': 95.03,
  'COAREALANDPCT': 95.14},
 {'STATE': 72.0,
  'COUNTY': 141.0,
  'GEOID': 72141.0,
  'POPPT': 105.0,
  'HUPT': 49.0,
  'AREAPT': 2326414.0,
  'AREALANDPT': 2326414.0,
  'ZPOP': 18570.0,
  'ZHU': 7744.0,
  'ZAREA': 167459085.0,
  'ZAREALAND': 166659789.0,
  'COPOP': 33149.0,
  'COHU': 14192.0,
  'COAREA': 298027589.0,
  'COAREALAND': 294039825.0,
  'ZPOPPCT': 0.57,
  'ZHUPCT': 0.63,
  'ZAREAPCT': 1.39,
  'ZAREALANDPCT': 1.4,
  'COPOPPCT': 0.32,
  'COHUPCT': 0.35,
  'COAREAPCT': 0.78,
  'COAREALANDPCT': 0.79}]